<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
<h2>Create Post</h2>

<form method="post">
    <input name="name" placeholder="Name"><br><br>
    <input name="city" placeholder="City"><br><br>

    <select name="role">
        <option>Local Guide</option>
        <option>Friend</option>
        <option>Listener</option>
    </select><br><br>

    <input name="price" placeholder="Price"><br><br>
    <textarea name="description" placeholder="Description"></textarea><br><br>
    <input name="contact" placeholder="Contact"><br><br>

    <button>Save</button>
</form>
</div>

</body>
</html>