<!DOCTYPE html>
<html>
<head>
    <title>Create Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="form-box">
    <h2>Create Profile</h2>

    <form method="POST" enctype="multipart/form-data">

        <label>Name</label>
        <input name="name" required>

        <label>City</label>
        <input name="city" required>

        <label>Role</label>
        <select name="role" required>
            <option value="Friend">Friend</option>
            <option value="Local Guide Friend">Local Guide Friend</option>
            <option value="Listener">Listener</option>
            <option value="Internet Friend">Internet Friend</option>
        </select>

        <label>Price (₹ per hour)</label>
        <input type="number" name="price" required>

        <label>Description</label>
        <textarea name="description"></textarea>

        <label>Contact</label>
        <input name="contact">

        <!-- IMAGE -->
        <label>Photo</label>
        <input type="file" name="image">

        <br><br>
        <button class="btn">Submit</button>
    </form>

</div>

</body>
</html>