<link rel="stylesheet" href="/static/style.css">

<div class="nav">
    <strong>CITYBUDDY</strong>
    <a href="/login">Login</a>
</div>

<div class="container">

    <form class="filters" method="GET">
        <input name="city" placeholder="City">
        <select name="role">
            <option value="">All</option>
            <option>Developer</option>
            <option>Designer</option>
            <option>Founder</option>
        </select>
        <button class="btn">Search</button>
    </form>

    <div class="grid">
        {% for p in posts %}
        <div class="card">

            {% if p.image %}
            <img src="data:image/jpeg;base64,{{ p.image }}">
            {% endif %}

            <div class="card-content">
                <h3>{{ p.name }}</h3>
                <p>{{ p.city }} · {{ p.role }}</p>
                <b>₹{{ p.price }}</b>
                <p>{{ p.description }}</p>
            </div>

        </div>
        {% endfor %}
    </div>

</div>