<!DOCTYPE html>
<html>
<head>
    <title>Signup - CityBuddy</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="form-box">
    <h2>Create Account</h2>

    <form method="POST">
        <label>Username</label>
        <input name="username" placeholder="Choose username" required>

        <label>Password</label>
        <input name="password" type="password" placeholder="Create password" required>

        <br>
        <button class="btn">Signup</button>
    </form>

    <br>
    <div class="small">
        Already have an account? <a href="/login">Login</a>
    </div>
</div>

</body>
</html>